html, body {
    padding: 0;
    margin: 0;
}

body {
    background-color: black;
}

p {
    font-size: 0.75em;
}

h1 {
    color: white;
    font-family: komoda, sans-serif;
    font-size: 4em;
    letter-spacing: 0.15em; /* 10/16 */
    font-weight: bold;
}

#grad1 {
    width: 100%;
    height: 100%;
}

#grad2 {
    --bggrad: rgba(44, 1, 22, 1);
    background: red;
    /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(black, var(--bggrad));
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(black, var(--bggrad));
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(black, var(--bggrad));
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(black, var(--bggrad));
    /* Standard syntax (must be last) */
    width: 100%;
    height: 100%;
}

#bio {
    color: white;
    line-height: 20px;
    letter-spacing: 2px;
    font-weight: 500;
    font-family: 'Open Sans Condensed';
}

#contact {
    color: white;
    letter-spacing: 2.5px;
    font-family: 'Open Sans Condensed';
}

.center {
    margin-top: 75vh;
    text-align: center;
}

@font-face {
    font-family: komoda;
    src: url(Komoda.otf);
}


font-family: 'Open Sans Condensed', sans-serif;



@media only screen and (min-width: 480px) and (max-width: 990px) {
    h1 {
        font-size: 6em;
    }
    p {
        font-size: 1.4em;
    }
    #contact {
        margin-top: 0.3em;
    }
    #bio {
        line-height: 1.2em;
        margin-top: 0.3em;
    }
}
